<!DOCTYPE html>

<html>
  
<head>

  <%- include( 'partials/head' ); %>
  
</head>

<body>
  
	<%- include( 'partials/nav' ); %>
	
	<div class="content box-content">
	  
      <%- include( 'partials/box-image', { listing: listing } ) %>
    
      <div class="details">
        
        <%- include( 'partials/box-description', { listing: listing } ) %>
        
<!--    The following lines are a template using an if/else block
        It first checks to see if "booking_message" has been defined
        If so it prints a message
        Else it includes the booking form
-->
        
        <% if ( booking_message ) { %>
        
          <p class="thanks">
            <%- booking_message %>
          </p>
        
        <% } else { %>
        
          <%- include( 'forms/booking' ) %>
        
        <% } %>
        
        <h3>
          Reviews
        </h3>
        
<!--    It is best practice to create reusable components.
        Here we have a view partial "message" which can print an orange message
        As an exercise, modify the code above for "booking_message" to print its message using this include
        You will need to modify the if/else block
-->  
        
        <%- include( 'partials/message', { message: review_message } ); %>
        
        <% if ( ! reviewed ) { %>
        
          <p>
            <a href="/review/<%= listing.id %>" class="button">Add a Review</a>
          </p>
        
        <% } %>
        
        <%- include( 'partials/reviews', { listing : listing } ) %>
        
      </div>
    
	</div>
	
  <%- include( 'partials/footer' ); %>
	
</body>

</html>