<!DOCTYPE html>

<html>
  
<head>

  <%- include( 'partials/head' ); %>
  
</head>

<body>
  
	<%- include( 'partials/nav' ); %>
	
	<div class="content">
	  
    <%- include( 'partials/hero' ); %>

    <%- include( 'partials/features' ); %>
		
	</div>
	
  <%- include( 'partials/footer' ); %>
	
</body>

</html>